BOT_TOKEN=8441608289:AAGpYEX0bfaejZyg3swJrKvBy-GJaBdrDkY
DB_URL=postgresql+asyncpg://postgres:jNasopyQimWAbmdDxpAjXXQMihgfQmam@postgres.railway.internal:5432/railway/bot
SUPER_ADMIN_TELEGRAM_IDS=[7425084556]
DB_ECHO=true
